<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <br>
            <h1 class="text-center">New Message</h1>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <%= render :partial => 'simple_form' %>


</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1 class="text-center">Today's Messages</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="center-block">

        <% @messages.each  do |m| %>
            <%= label_tag m.title %>
            <%= label_tag m.message %>
            <br>
        <% end %>

      </div>
    </div>
  </div>
</div>
</body>

</html>