<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <%= form_for(:session, url: login_path) do |f|%>
                <%= f.text_field :email, :placeholder => "Email" %>
                <%= f.password_field :password, :placeholder => "Password"%>
                <%= f.submit "Login", class: "btn-submit", method: "Create" %>
            <% end %>
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

